<!-- This is the html form for a new user -->
<ion-view view-title="NewUser">
  <ion-content class="padding">
    <!--form action="https://arcane-beach-11863.herokuapp.com/new" method="post"-->
    <form>
      <div class="list">
        <div class="item item-input">
          <span class="input-label">Name:</span>
          <input type="text" ng-model="name">
        </div>
        <div class="item item-input">
          <span class="input-label">Email:</span>
          <input type="text" ng-model="email">
        </div>
        <div class="item item-input">
          <span class="input-label">Favorite:</span>
          <select ng-model="favorite">
            <option selected value="recw">Recreational Walker</option>
            <option value="recb">Recreational Biker</option>
            <option value="tranu">Transit User</option>
            <option value="funcw">Functional Walker</option>
            <option value="funcb">Functional Biker</option>
          </select>
        </div>
        <div class="item item-input">
          <button ng-enabled="false" class="button button-full button-calm" type="submit" ng-click="newUser()">
            Submit
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
